<!-- signup.component.html -->

<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" nzLayout="vertical">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <input nz-input formControlName="username" placeholder="Username" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your email!">
      <input nz-input formControlName="email" placeholder="Email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your password!">
      <input nz-input type="password" formControlName="password" placeholder="Password" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control nzErrorTip="Passwords do not match!">
      <input nz-input type="password" formControlName="confirmPassword" placeholder="Confirm Password" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Sign Up</button>
    </nz-form-control>
  </nz-form-item>
</form>
