/* .signup-container {
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .gurkul-img{
    margin-left: 5%;
    margin-top: 3%;
  }

  .signup-form{
    height: 100%;
    width: 50%;
  }

  h2 {
    text-align: center;
  }
  
  .form{
    align-items: center;
    width: 80%;
    margin-left: 55px;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .authContent{
    margin-left: 40%;
  }

  .gurukullogo{
    margin-top: 2%;
    margin-left: 35%;
    width: 30%;
  }

  .select-role{
    background-color: white;
    margin: 2%;
    width: 23%;
    height: 90px;
    border: ridge;
    outline-color: blue;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
  }

  .authIcon{
    display: flex;
    margin-left: 17%;
    margin-bottom: 4%;
  }

  .authPage{
    border: 1px solid #ccc;
    border-radius: 25px;
    margin-left: 100px;
    margin-top: 20px;
    width: 100%;
    height: 550px;
  }
  
  .btn{
    margin: 2%;
    width: 40%;
    margin-bottom: 4%;
  }
  .row{
    margin-bottom: 4%;
  }

  .loginlink{
    margin-left: 140px;
  }
 */



 *{
  margin: 0px;
  padding: 0px;;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container
{
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: red;
  background: linear-gradient(to bottom, rgb(6, 108, 100),  rgb(14, 48, 122));
  width: 800px;
  height: 400px;
  margin: 10% auto;;
  border-radius: 5px;
}

.content-holder
{
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-top: 15%;
  padding: 50px;
}

.content-holder h2
{
  font-size: 34px;
  margin: 20px auto;
}

.content-holder p
{
  margin: 30px auto;
}

.content-holder button
{
  border:none;
  font-size: 15px;
  padding: 10px;
  border-radius: 6px;
  background-color: white;
  width: 150px;
  margin: 20px auto;
}


.box-2{
  background-color: white;

  margin: 5px;
}

.login-form-container
{
  text-align: center;
  margin-top: 10%;

}

.login-form-container h1
{
  color: black;
  font-size: 24px;
  padding: 20px;
}

.input-field
{
  box-sizing: border-box;
  font-size: 14px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid rgb(168, 168, 168);
  width: 250px;
  outline: none;
}

.login-button{
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(56, 102, 189);
}



.button-2
{
  display: none;
}





.signup-form-container
{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
  text-align: center;
  display: none;
}


.signup-form-container h1
{
  color: black;
  font-size: 24px;
  padding: 20px;
}

.signup-button{
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  padding: 13px;
  border-radius: 7px;
  border: none;
  width: 250px;
  outline: none;
  background-color: rgb(56, 189, 149);  
}

